CREATE DATABASE IF NOT EXISTS DEVAPP;
USE DEVAPP;

CREATE TABLE IF NOT EXISTS departments (
    DEPT INT(4) NOT NULL,
    DEPT_NAME VARCHAR(250),
    PRIMARY KEY (DEPT)
);

INSERT INTO departments (DEPT, DEPT_NAME) VALUES
(1001, 'Sales'),
(1002, 'Engineering'),
(1003, 'Human Resources');

CREATE USER 'developer'@'%' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD ON *.* TO 'developer'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;